# Discord Bot Configuration
DISCORD_TOKEN=seu_token_aqui

# Optional Configuration
GIF_URL=https://tenor.com/view/fernos6-ferno-la-lechuga-cursed-gif-20864361
NORMAL_MARKER=-testar-
WEBHOOK_MARKER=-testarw-
